<% layout('layouts/boilerplate') -%>  

  <!-- Main content -->
  <div class="container mt-4">
    <h1>Latest Posts</h1>
    <hr>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Take the survey</h5>
            <p class="card-text">Take this random demonstrating survey that associated with your account, and stored in our database.</p>
            <a href="/survey1" class="btn btn-primary">Take it now!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam metus vel sapien aliquam porttitor. Fusce malesuada velit vel velit auctor, vitae tempus magna eleifend. Nam et purus rhoncus, feugiat turpis sed, congue risus.</p>
            <button class="btn btn-primary" disabled>Read more</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 dir="rtl" class="card-title">ูุต ุจุงููุบุฉ ุงูุนุฑุจูุฉ</h5>
          <p dir="rtl" class="card-text">ูุฑุญุจุงุ ูุฐุง ุจููุบ. ุณุฃุญุงูู ุงูุฅุฌุงุจุฉ ุนูู ุณุคุงูู ุจูุงุกู ุนูู ูุชุงุฆุฌ ุงูุจุญุซ. ุงูุชุฏุฎูู ูู ุนุงุฏุฉ ุถุงุฑุฉ ุจุงูุตุญุฉ ููุณุจุจ ุงูุนุฏูุฏ ูู ุงูุฃูุฑุงุถ ูุงููุดุงูู ุงูุตุญูุฉุ ูุซู ุณุฑุทุงู ุงูุฑุฆุฉุ ูุงูุงูุณุฏุงุฏ ุงูุฑุฆูู ุงููุฒููุ ูุงูุฃุฒูุงุช ุงูููุจูุฉุ ูุงูุณูุฑูุ ูุงูุนููุ ููุดุงุดุฉ ุงูุนุธุงูุ ูุบูุฑูุง123. ููู ุจุนุถ ุงูุฏุฑุงุณุงุช ูุฏ ุฃุดุงุฑุช ุฅูู ุฃู ุงูุชุฏุฎูู ูุฏ ูููู ูู ุจุนุถ ุงูููุงุฆุฏ ุบูุฑ ุงููุซุจุชุฉ ุนูููุงู ุฃู ุบูุฑ ุงููุคูุฏุฉุ ูุซู ุชูููู ุฎุทุฑ ุงูุฅุตุงุจุฉ ุจูุฑุถ ุจุงุฑููุณูู2ุ ุฃู ุชูููู ุฎุทุฑ ุงูุฅุตุงุจุฉ ุจุงูุจุฏุงูุฉ3ุ ุฃู ุชูููู ุฎุทุฑ ุงูุฅุตุงุจุฉ ุจุงูุชูุงุจ ุงูููุงุตู4ุ ุฃู ุชูููู ุฎุทุฑ ุงูููุงุฉ ุจุนุฏ ุงูุฃุฒูุงุช ุงูููุจูุฉ5. ููู ูุฐู ุงูููุงุฆุฏ ูุง ุชุนูุถ ุนู ุงููุฎุงุทุฑ ุงููุจูุฑุฉ ุงูุชู ูุชุนุฑุถ ููุง ุงููุฏุฎู ูุงููุญูุทูู ุจูุ ููุง ุชุจุฑุฑ ุงุณุชูุฑุงุฑ ูุฐู ุงูุนุงุฏุฉ ุงููููุชุฉ. ูุฐููุ ููุตุญ ุฏุงุฆูุงู ุจุงูุฅููุงุน ุนู ุงูุชุฏุฎูู ุฃู ุนุฏู ุงูุจุฏุก ุจู ูู ุฃุฌู ุตุญุฉ ุฃูุถู.๐ญ
          </p>
          <button class="btn btn-primary" disabled>Read more</button>
          </div>
          </div>
          </div>
          </div>
          
            </div>
